.btn {
    color           : red;
    cursor          : pointer;
    display         : flex;
    align-items     : center;
    justify-content : center;
    height          : 30px;
    width           : 100px;
    box-sizing      : border-box;
    background-color: green;
    font-size       : 16px;
    position        : relative;
    left            : 100px;
    top             : 50px;
    transition      : 0.5s linear;
    position        : relative;



    &:hover {
        transform        : rotate(-360deg);
        -webkit-transform: rotate(360deg);
        // transition: 0.5s linear;
    }

}